
Plugins>Oocytes>Oocytor, "Get cortex...", cirb.oocytor.GetCortex("cortex")
Plugins>Oocytes>Oocytor, "Get ZP...", cirb.oocytor.GetZP("zp")
Plugins>Oocytes>Oocytor, "Get nucleus position...", cirb.oocytor.GetNucleus("position")
Plugins>Oocytes>Oocytor, "Find NEBD...", cirb.oocytor.FindNEBD("nebd")
Plugins>Oocytes>Oocytor, "Measure features...", cirb.oocytor.MeasureFeatures("feat")
#Plugins>Oocytes>Oocytor, "Correct cortex...", cirb.oocytor.CorrecErasedPart("corcortex")
#Plugins>Oocytes>Oocytor, "Correct ZP...", cirb.oocytor.CorrecErasedPart("corzp")
Plugins>Oocytes>Oocytor, "Display contours...", cirb.oocytor.DisplayContours("display")
Plugins>Oocytes>Oocytor, "Cortex from mask...", cirb.oocytor.GetCortex("mask")
Plugins>Oocytes>Oocytor, "ZP from mask...", cirb.oocytor.GetZP("mask")