
Plugins>CIRB>Oocytor, "Get cortex", cirb.oocytor.GetCortex("cortex")
Plugins>CIRB>Oocytor, "Get ZP", cirb.oocytor.GetZP("zp")
Plugins>CIRB>Oocytor, "Find NEBD", cirb.oocytor.FindNEBD("nebd")
Plugins>CIRB>Oocytor, "Measure features", cirb.oocytor.MeasureFeatures("feat")
Plugins>CIRB>Oocytor, "Correct cortex", cirb.oocytor.CorrecErasedPart("corcortex")
Plugins>CIRB>Oocytor, "Correct ZP", cirb.oocytor.CorrecErasedPart("corzp")